<div class="top-bar show-for-medium" id="menu">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><strong id="companyname">Bahasa</strong>Solution</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="index.html"><i class="fa fa-home menuicon" aria-hidden="true"></i> Home</a></li>
            <li><a href="about.html"><i class="fa fa-circle-o menuicon" aria-hidden="true"></i> About</a></li>
            <li><a href="services.html"><i class="fa fa-check-square-o menuicon" aria-hidden="true"></i> Services</a></li>
            <li><a href="contact.html"><i class="fa fa-comments-o menuicon" aria-hidden="true"></i> Contact</a></li>
        </ul>
    </div>
</div>


<ul class="vertical menu hide-for-medium mobile" data-accordion-menu>
  <li>
    <a href="#" class="text-left"><strong>Bahasa</strong>Solution</a>
    <ul class="menu vertical nested">
        <li><a href="index.html"><i class="fa fa-home menuicon" aria-hidden="true"></i> Home</a></li>
        <li><a href="about.html"><i class="fa fa-circle-o menuicon" aria-hidden="true"></i> About</a></li>
        <li><a href="services.html"><i class="fa fa-check-square-o menuicon" aria-hidden="true"></i> Services</a></li>
        <li><a href="contact.html"><i class="fa fa-comments-o menuicon" aria-hidden="true"></i> Contact</a></li>
    </ul>
  </li>
</ul>