<div class="top-bar show-for-medium" id="menu">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><strong id="companyname">Bahasa</strong>Solution</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
</div>


<ul class="vertical menu hide-for-medium mobile" data-accordion-menu>
  <li>
    <a href="#" class="text-center"><strong>Bahasa</strong>Solution</a>
    <ul class="menu vertical nested">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
  </li>
</ul>